@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
// 1. Set your own initial variables and derived 
//    variables in _variables.scss
@import "variables";

// 2. Setup your Custom Colors

$primary: #00853D;
$primary-invert: findColorInvert($primary);

$info: #6D9EEB;
$info-invert: findColorInvert($info);

$success: #40C18E;
$success-invert: findColorInvert($success);

$warning: #F6B26B;
$warning-invert: findColorInvert($warning);

$danger: #DE5F5F;
$danger-invert: findColorInvert($danger);

$purple: #8E7CC3;
$purple-invert: findColorInvert($purple);

$dark: #212721;
$dark-invert: findColorInvert($dark);



@import "~bulma/sass/utilities/derived-variables";

// 3. Add new color variables to the color map.
$addColors: (
  "black": ($black, $white),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
);

$colors: map-merge($colors, $addColors);

@import "~bulma";
@import "~buefy/src/scss/buefy";

// 4. Provide custom buefy overrides and site styles here
